//- index.jade
//-
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    
    // CSS
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/index.css')
    
    // JS
    script(src='js/index.js', defer)
    
    // Page
    link(rel='shortcut icon', href='res/img/AB_logo.png')
    title The Website of ADB

  body(onunload='')
    .nav
      .nav-content
        <p class="header">
        <a href="/" style="text-decoration:none;">
        <img src="res/img/AB_logo.png" class="logo"/>
        </a>
        
        <a href="javascript:change_scene('home');" class="clickable nav-item">HOME</a>
        <a href="javascript:change_scene('about');" class="clickable nav-item">ABOUT</a>
        <a href="res/resume.pdf" class="clickable nav-item">RÉSUMÉ</a>
        </p>
    
    .theater
      #home.scene
        table.project-table
          tbody
            each project, counter in content.projects
              if counter % 3 == 0
                if counter != 0
                  </tr>
                if counter != content.projects.length-1
                  </tr>
              td
                .project-cell
                  a(href=project.link)
                    img.project-img(src=project.thumb, alt=project.name)
                  p
                    a.clickable(href=project.link)= project.name
      
      #about.scene
        .about-content
          .about-img-container
            img.about-img(src='res/img/Chimney_mugshot.jpg')
          .about-text-container
            p.about-text!= content.about.markup
          
    .footer
      .footer-content
        <p>Designed by Andrew Booth - Powered by <a href="https://www.heroku.com/home">Heroku</a>/<a href="https://nodejs.org/">Node</a>/<a href="http://expressjs.com/">Express</a>/<a href="https://naltatis.github.io/jade-syntax-docs/">Jade</a><p>
